/* exfoliation: a nagios makeover                                          */
/* Copyright 2010 Matthew Wall, all rights reserved                        */
/*                                                                         */
/* Permission to use, copy, modify, and distribute this software for any   */
/* purpose with or without fee is hereby granted, provided that the above  */
/* copyright notice and this permission notice appear in all copies.       */

.extinfo { }

.Title        { font-size: 12pt; text-align: center; font-weight: bold; }
.SectionTitle { font-size: 12pt; text-align: center; font-weight: bold; }

.DynamicData  { font-size: 10pt; padding: 2; }
.StaticData   { font-size: 10pt; padding: 2; }
.TableHeader  { font-size: 10pt; background-color: var(--tac-table-header); font-weight: bold; }

.Item         { font-size: 10pt; background-color: var(--even-row); font-weight: bold; }
.DataSource   { font-size: 10pt; background-color: var(--even-row); }
.Number       { font-size: 10pt; background-color: var(--even-row); }

.Value        { font-size: 10pt; background-color: var(--even-row); font-weight: bold; }
.ValueOk      { font-size: 10pt; background-color: var(--status-ok); font-weight: bold; }
.ValueError   { font-size: 10pt; background-color: var(--status-critical); font-weight: bold; }




