/* exfoliation: a nagios makeover                                          */
/* Copyright 2010 Matthew Wall, all rights reserved                        */
/*                                                                         */
/* Permission to use, copy, modify, and distribute this software for any   */
/* purpose with or without fee is hereby granted, provided that the above  */
/* copyright notice and this permission notice appear in all copies.       */

.outages { }

.itemTotalsTitle { font-size: 8pt; text-align: center; }

.hostUP          { background-color: var(--status-ok); font-weight: bold; }
.hostDOWN        { background-color: var(--status-critical); font-weight: bold; }
.hostUNREACHABLE { background-color: var(--status-unknown); font-weight: bold; }

